<h1 class="big">Meet the Herd</h1>

<% if current_user %>
  <%= link_to 'Add New Horse', new_user_horse_path(current_user) %>
<% end %>

<% @horses.each do |horse| %>
  <h4><%= horse.name %></h4>
  <p><%= horse.breed %></p>
  <p>Age <%= horse.age %></p>
  <p>Owned by <%= horse.user.username %></p>
<% end %>
